<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnNotice="true"
         failOnDeprecation="true"
         beStrictAboutOutputDuringTests="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="pig">
            <directory>packages/async/test</directory>
            <directory>packages/ai/test</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>packages/async/src</directory>
            <directory>packages/ai/src</directory>
        </include>
    </source>
</phpunit>
